body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  margin-top: 4%;
}

.cards {
  margin-top: 5%;
}

.util {
}

.toolt {
  width: 10rem;
  height: 12rem;
  background-color: lightcyan;
  border-radius: 10%;
}

.toolt span {
  font-size: 20px;
  font-weight: 700;
}
